
  <form class="log-in-form" action='/sessions' method="POST">
    <span class="log-in-title">Login</span>
    <p class="float">
      <input type="text" name="username" placeholder="Username or email">
    </p>
    <p class="float">
      <input type="password" name="password" placeholder="Password" class="showpassword">
    </p>
    <p class="submit">
      <input type="submit" name="submit" value="Log in">
    </p>
  </form>

