
<form class="sign-up-form" action='/sessions' method="POST">
  <label>First name</label>
  <input type="text" name="user[first_name]">
  <label>Last name</label>
  <input type="text" name="user[last_name]">
  <label>Location preference</label>
  <input type="text" name="user[location_preference]">
  <label>e-mail</label>
  <input type="email" name="user[email]">
  <label>Password</label>
  <input type="password" name="password">
  <label>Password confirmation</label>
  <input type="password" name="password_auth">
  <input type="submit" name="Login">
</form>
