<div class="location-form" id="location-form">
  <form class='location-form' action='/location_views' method='POST'>
    <p>
      <textarea class='textarea' cols='20' name="zipcode", placeholder="Enter your Zip Code"></textarea>
    </p>
    <p>
      <input class='button' type='submit'>
    </p>
  </form>
</div>


