<div class="location-form"
  <form class='location-form' action='/location' method='POST'>
    <p>
      <textarea class='textarea' cols='50' name="location_input", placeholder="Enter a location"></textarea>
    </p>
    <p>
      <input class='button' type='submit'>
    </p>
  </form>
</div>
